In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow.keras.layers import Dense, Input, Dot
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras import Sequential, Model
from tensorflow.keras.regularizers import L2

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

import pickle

WARNING:tensorflow:From C:\Users\sarva\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
users_data = pd.read_csv('Pre-Processed-Data/users_data.csv').iloc[:,1:]
movies_data = pd.read_csv('Pre-Processed-Data/movies_data.csv').iloc[:,1:]
ratings_data = pd.read_csv('Pre-Processed-Data/ratings_data.csv').iloc[:,1:]

movies_unique_data = movies_data.drop_duplicates().reset_index(drop=True)

print(users_data.shape, movies_data.shape, ratings_data.shape)
movies_unique_data.head(10)
movies_data.tail(10)

(87359, 17) (87359, 18) (87359, 1)

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
87349,161582,Hell or High Water,2016,0.000,0.00,0.0,0.0,0.0,0.682,0.0,0.682,0.00,0.000,0.0,0.0,0.0,0.000,0.000
87350,161634,Don't Breathe,2016,0.000,0.00,0.0,0.0,0.0,0.000,0.0,0.000,0.00,0.000,0.0,0.0,0.0,0.000,0.634
87351,162350,The Magnificent Seven,2016,0.678,0.00,0.0,0.0,0.0,0.000,0.0,0.000,0.00,0.000,0.0,0.0,0.0,0.000,0.000
87352,164179,Arrival,2016,0.000,0.00,0.0,0.0,0.0,0.000,0.0,0.000,0.00,0.000,0.0,0.0,0.0,0.778,0.000
87353,166528,Rogue One: A Star Wars Story,2016,0.770,0.77,0.0,0.0,0.0,0.000,0.0,0.000,0.77,0.000,0.0,0.0,0.0,0.770,0.000
87354,166534,Split,2017,0.000,0.00,0.0,0.0,0.0,0.000,0.0,0.642,0.00,0.642,0.0,0.0,0.0,0.000,0.642
87355,168248,John Wick: Chapter Two,2017,0.766,0.00,0.0,0.0,0.0,0.766,0.0,0.000,0.00,0.000,0.0,0.0,0.0,0.000,0.766
87356,168250,Get Out,2017,0.000,0.00,0.0,0.0,0.0,0.000,0.0,0.000,0.00,0.706,0.0,0.0,0.0,0.000,0.000
87357,168252,Logan,2017,0.832,0.00,0.0,0.0,0.0,0.000,0.0,0.000,0.00,0.000,0.0,0.0,0.0,0.832,0.000
87358,170875,The Fate of the Furious,2017,0.514,0.00,0.0,0.0,0.0,0.514,0.0,0.514,0.00,0.000,0.0,0.0,0.0,0.000,0.514

In [4]:
num_users_features = users_data.shape[1] - 2
num_movies_features = movies_data.shape[1] - 3
users_genre_start = 2
movies_genre_start = 3

In [5]:
users_train = users_data.iloc[:,users_genre_start:]
movies_train = movies_data.iloc[:,movies_genre_start:]
ratings_train = ratings_data
movies_vecs = movies_unique_data.iloc[:,movies_genre_start:]

movies_train.head(10)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
0,0.000,0.782,0.782,0.782,0.782,0.000,0.0,0.000,0.782,0.000,0.0,0.000,0.000,0.0,0.000
1,0.000,0.000,0.000,0.000,0.648,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.648,0.0,0.000
2,0.786,0.000,0.000,0.000,0.000,0.786,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.786
3,0.000,0.000,0.000,0.000,0.000,0.846,0.0,0.000,0.000,0.000,0.0,0.846,0.000,0.0,0.846
4,0.698,0.000,0.000,0.000,0.698,0.000,0.0,0.000,0.000,0.698,0.0,0.000,0.000,0.0,0.698
5,0.000,0.740,0.000,0.000,0.740,0.740,0.0,0.000,0.000,0.000,0.0,0.000,0.740,0.0,0.000
6,0.804,0.000,0.000,0.000,0.000,0.000,0.0,0.804,0.000,0.000,0.0,0.000,0.000,0.0,0.000
7,0.704,0.000,0.000,0.000,0.000,0.000,0.0,0.704,0.000,0.000,0.0,0.000,0.704,0.0,0.000
8,0.000,0.000,0.000,0.000,0.572,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.000
9,0.708,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.708,0.0,0.000

In [6]:
scaler_users = StandardScaler()
users_train = scaler_users.fit_transform(users_train)

scaler_movies = StandardScaler()
movies_train = scaler_movies.fit_transform(movies_train)

scaler_ratings = MinMaxScaler()
ratings_train = scaler_ratings.fit_transform(ratings_data)

ratings_train[:10].round(2)

array([[0.78],
       [0.78],
       [0.78],
       [1.  ],
       [0.56],
       [1.  ],
       [0.78],
       [1.  ],
       [1.  ],
       [1.  ]])

In [7]:
users_train, users_test = train_test_split(users_train, train_size=0.80, shuffle=True, random_state=1)
movies_train, movies_test = train_test_split(movies_train, train_size=0.80, shuffle=True, random_state=1)
ratings_train, ratings_test = train_test_split(ratings_train,    train_size=0.80, shuffle=True, random_state=1)

print(users_train.shape)
print(users_test.shape)

(69887, 15)
(17472, 15)

In [8]:
num_outputs = 32
tf.random.set_seed(1)
user_neural_network = Sequential([
    Dense(units=256, activation='relu'),
    Dense(units=128, activation='relu'),
    Dense(units=num_outputs, activation='linear')
])

movie_neural_network = Sequential([   
    Dense(units=256, activation='relu'),
    Dense(units=128, activation='relu'),
    Dense(units=num_outputs, activation='linear')
])

input_user = Input(shape=(num_users_features))
vu = user_neural_network(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_movie= Input(shape=(num_movies_features))
vm = movie_neural_network(input_movie)
vm = tf.linalg.l2_normalize(vm, axis=1)

output = Dot(axes=1)([vu, vm])

model = tf.keras.Model([input_user, input_movie], output)

model.summary()

WARNING:tensorflow:From C:\Users\sarva\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 15)]                 0         []

 input_2 (InputLayer)        [(None, 15)]                 0         []

 sequential (Sequential)     (None, 32)                   41120     ['input_1[0][0]']

 sequential_1 (Sequential)   (None, 32)                   41120     ['input_2[0][0]']

 tf.math.l2_normalize (TFOp  (None, 32)                   0         ['sequential[0][0]']
 Lambda)

 tf.math.l2_normalize_1 (TF  (None, 32)                   0         ['sequential_1[0][0]']
 OpLambda)

 dot (Dot)                   (None, 1)                    0         ['tf.math.l2_normalize[0][0]',
                                                                     'tf.math.l2_normalize_1[0][0]
                                                                    ']

==================================================================================================
Total params: 82240 (321.25 KB)
Trainable params: 82240 (321.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [9]:
tf.random.set_seed(1)
model.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.01))

In [10]:
tf.random.set_seed(1)
model.fit([users_train, movies_train], ratings_train, epochs=30)

Epoch 1/30
WARNING:tensorflow:From C:\Users\sarva\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

2184/2184 [==============================] - 15s 6ms/step - loss: 0.0394
Epoch 2/30
2184/2184 [==============================] - 12s 6ms/step - loss: 0.0355
Epoch 3/30
2184/2184 [==============================] - 12s 6ms/step - loss: 0.0345
Epoch 4/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0337
Epoch 5/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0331
Epoch 6/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0328
Epoch 7/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0325
Epoch 8/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0322
Epoch 9/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0319
Epoch 10/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0317
Epoch 11/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0315
Epoch 12/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0313
Epoch 13/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0311
Epoch 14/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0309
Epoch 15/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0307
Epoch 16/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0306
Epoch 17/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0305
Epoch 18/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0303
Epoch 19/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0302
Epoch 20/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0301
Epoch 21/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0300
Epoch 22/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0299
Epoch 23/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0298
Epoch 24/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0297
Epoch 25/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0295
Epoch 26/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0295
Epoch 27/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0294
Epoch 28/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0292
Epoch 29/30
2184/2184 [==============================] - 11s 5ms/step - loss: 0.0292
Epoch 30/30
2184/2184 [==============================] - 12s 5ms/step - loss: 0.0291

In [54]:
user_pred_data = users_data.iloc[2000,users_genre_start:]

user_pred_data=pd.Series({
    'Action':         5.00,
    'Adventure':      5.00,
    'Animation':      0.00,
    'Children':       0.00,
    'Comedy':         0.00,
    'Crime':          0.00,
    'Documentary':    0.00,
    'Drama':          0.00,
    'Fantasy':        0.00,
    'Horror':        0.00,
    'Musical':        0.00,
    'Mystery':        0.00,
    'Romance':       0.00,
    'Sci-Fi':        5.00,
    'Thriller':       5.00
})

n = len(movies_vecs)
users_vecs = pd.DataFrame([user_pred_data]*n, columns=user_pred_data.index)

scaled_movies_vecs = scaler_movies.transform(movies_vecs)
scaled_users_vecs = scaler_users.transform(users_vecs)
    
scaled_rating_pred = model.predict([scaled_users_vecs, scaled_movies_vecs])

rating_pred = scaler_ratings.inverse_transform(scaled_rating_pred)

sorted_index = np.argsort(-rating_pred, axis=0).reshape(-1).tolist()
    
sorted_movies_for_user = movies_unique_data.loc[sorted_index,:]
temp = sorted_movies_for_user.iloc[:8,:]
    
closest_eight_movies_indices = temp.index
closest_eight_movies_indices

141/141 [==============================] - 0s 3ms/step

Index([1074, 2712, 141, 263, 2902, 2644, 4188, 1812], dtype='int64')

In [47]:
n = len(movies_vecs)
users_vecs = pd.DataFrame([user_pred_data]*n, columns=user_pred_data.index)

In [48]:
users_vecs.head(10)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
1,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
2,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
3,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
4,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
5,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
6,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
7,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
8,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
9,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0

In [49]:
scaled_movies_vecs = scaler_movies.transform(movies_vecs)
scaled_users_vecs = scaler_users.transform(users_vecs)

scaled_users_vecs[:10]

array([[ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308],
       [ 3.08160898,  3.02157656, -3.25056238, -3.90868365, -6.87035724,
        -6.73451327, -1.24471411, -7.80063303, -5.44534724, -3.65672733,
        -3.14887174, -4.8029547 , -6.36690388,  2.90770868,  2.96733308]])

In [50]:
scaled_rating_pred = model.predict([scaled_users_vecs, scaled_movies_vecs])

rating_pred = scaler_ratings.inverse_transform(scaled_rating_pred)
rating_pred

141/141 [==============================] - 0s 3ms/step

array([[2.5873485],
       [1.4678345],
       [3.6768496],
       ...,
       [2.8515933],
       [1.8480917],
       [3.1910727]], dtype=float32)

In [51]:
sorted_index = np.argsort(-rating_pred, axis=0).reshape(-1).tolist()
sorted_index

[1074,
 2712,
 141,
 263,
 2902,
 2644,
 4188,
 1812,
 2003,
 583,
 159,
 1178,
 2539,
 2735,
 1120,
 2722,
 3242,
 3374,
 4043,
 951,
 4126,
 4047,
 1260,
 962,
 62,
 919,
 1146,
 1161,
 255,
 1769,
 670,
 660,
 1537,
 2561,
 1367,
 174,
 4232,
 1789,
 1601,
 954,
 4252,
 1642,
 669,
 1202,
 722,
 1024,
 24,
 1159,
 632,
 240,
 4094,
 176,
 1667,
 522,
 3642,
 833,
 4249,
 1169,
 2897,
 1639,
 1023,
 4128,
 940,
 1174,
 1192,
 3396,
 4462,
 204,
 4029,
 2760,
 2717,
 3744,
 1261,
 2786,
 3748,
 1193,
 1679,
 3049,
 2512,
 715,
 177,
 4,
 444,
 3347,
 81,
 232,
 1112,
 712,
 1922,
 3633,
 4059,
 224,
 3983,
 1429,
 1338,
 2321,
 125,
 728,
 1315,
 1186,
 1339,
 2806,
 1232,
 4134,
 2705,
 178,
 2306,
 2775,
 4187,
 259,
 4129,
 3088,
 4185,
 2795,
 924,
 1990,
 3020,
 181,
 38,
 1100,
 3038,
 2784,
 711,
 674,
 1111,
 603,
 4052,
 1697,
 1466,
 1173,
 1058,
 1182,
 161,
 811,
 3735,
 3640,
 1189,
 953,
 1442,
 209,
 2401,
 1175,
 1097,
 1687,
 4146,
 949,
 1190,
 945,
 213,
 2809,
 76,
 1183,
 684,
 1768,
 1705,
 925,
 1628,
 1054,
 1010,
 369,
 1820,
 937,
 3278,
 1310,
 1722,
 2453,
 1191,
 3048,
 708,
 411,
 2419,
 2444,
 3076,
 1237,
 2880,
 1088,
 1195,
 4098,
 2703,
 1122,
 467,
 908,
 3050,
 1650,
 2721,
 939,
 2891,
 3688,
 1821,
 4299,
 1336,
 1333,
 672,
 1677,
 3954,
 916,
 4039,
 3293,
 3283,
 2598,
 2542,
 15,
 31,
 211,
 2446,
 2162,
 1800,
 84,
 895,
 3217,
 4141,
 3973,
 3794,
 2452,
 4025,
 1247,
 2470,
 901,
 2670,
 790,
 3683,
 3325,
 1809,
 1727,
 469,
 902,
 1654,
 2331,
 207,
 2428,
 1163,
 2866,
 3732,
 2510,
 1524,
 4085,
 1270,
 948,
 124,
 1233,
 133,
 965,
 1624,
 423,
 1334,
 1465,
 140,
 4003,
 3512,
 943,
 530,
 1152,
 4354,
 262,
 4137,
 3042,
 709,
 99,
 685,
 4081,
 2894,
 1147,
 2111,
 3328,
 1008,
 2797,
 4132,
 2564,
 256,
 4088,
 1379,
 1449,
 1066,
 4119,
 478,
 2755,
 4106,
 3967,
 3171,
 2732,
 1102,
 1995,
 1997,
 2651,
 913,
 983,
 4154,
 3313,
 523,
 3795,
 4062,
 1218,
 3404,
 1107,
 3729,
 735,
 3733,
 1421,
 2751,
 4139,
 2449,
 700,
 1228,
 3487,
 4072,
 87,
 1181,
 3355,
 788,
 812,
 4013,
 3078,
 1103,
 706,
 1752,
 1518,
 4122,
 941,
 2653,
 2762,
 3898,
 1830,
 1750,
 156,
 1063,
 2593,
 662,
 136,
 858,
 2167,
 2386,
 2326,
 3924,
 1631,
 1535,
 2427,
 1273,
 1343,
 997,
 68,
 2893,
 2547,
 2271,
 2552,
 253,
 1521,
 121,
 1001,
 4415,
 1629,
 1125,
 182,
 3947,
 1400,
 3934,
 2451,
 1027,
 1078,
 855,
 3023,
 1365,
 4027,
 3443,
 797,
 831,
 1300,
 1724,
 3464,
 905,
 94,
 3926,
 180,
 4442,
 848,
 2,
 217,
 4211,
 1044,
 3810,
 1134,
 2530,
 153,
 1583,
 1982,
 2437,
 1151,
 64,
 1815,
 3044,
 143,
 115,
 13,
 4143,
 1055,
 1923,
 860,
 449,
 950,
 2458,
 3331,
 1154,
 4118,
 1627,
 852,
 3913,
 4338,
 1158,
 1701,
 2376,
 3843,
 2571,
 1219,
 3357,
 3900,
 1427,
 91,
 1576,
 162,
 509,
 4200,
 3552,
 2557,
 3972,
 2521,
 4300,
 661,
 3051,
 843,
 4060,
 3921,
 3395,
 186,
 3558,
 566,
 2383,
 2004,
 3627,
 70,
 1565,
 4046,
 2203,
 3335,
 4037,
 946,
 2356,
 4049,
 1817,
 4123,
 1530,
 3863,
 3140,
 146,
 2800,
 2924,
 3104,
 2436,
 109,
 4467,
 2349,
 415,
 160,
 72,
 1089,
 1529,
 1222,
 3465,
 2765,
 1424,
 3363,
 1462,
 347,
 4395,
 2892,
 1949,
 2882,
 1885,
 4210,
 4014,
 2576,
 1014,
 3860,
 1347,
 4475,
 1740,
 3321,
 1124,
 936,
 3964,
 2611,
 3797,
 1625,
 54,
 3736,
 3950,
 859,
 719,
 844,
 2881,
 3036,
 4038,
 942,
 1162,
 1741,
 3141,
 845,
 2081,
 3022,
 1326,
 4197,
 3356,
 4131,
 2903,
 1516,
 3939,
 1140,
 227,
 308,
 622,
 960,
 2805,
 879,
 3815,
 1903,
 1337,
 265,
 3750,
 3438,
 1148,
 1985,
 1632,
 4272,
 4436,
 1127,
 513,
 4019,
 934,
 2545,
 63,
 2330,
 4110,
 1643,
 899,
 3865,
 2995,
 1208,
 3740,
 1945,
 3037,
 579,
 1113,
 1454,
 1728,
 2901,
 1860,
 203,
 283,
 1843,
 2623,
 184,
 1234,
 2309,
 3818,
 512,
 1684,
 3545,
 1836,
 1016,
 927,
 1357,
 824,
 3093,
 1585,
 2384,
 1835,
 2425,
 1065,
 1483,
 1620,
 3004,
 4170,
 2414,
 887,
 2776,
 2008,
 2190,
 155,
 2716,
 546,
 1091,
 4050,
 1693,
 696,
 959,
 1581,
 2358,
 1417,
 865,
 2566,
 2355,
 1258,
 21,
 2125,
 2962,
 356,
 67,
 3256,
 4086,
 112,
 223,
 105,
 2874,
 4036,
 4031,
 612,
 1919,
 921,
 692,
 1613,
 4144,
 4223,
 6,
 4253,
 4083,
 611,
 3817,
 2692,
 2481,
 749,
 4371,
 1205,
 474,
 2546,
 35,
 3919,
 904,
 1477,
 3334,
 2353,
 2666,
 2579,
 664,
 3680,
 903,
 239,
 894,
 4437,
 3753,
 2313,
 952,
 234,
 1998,
 657,
 1331,
 175,
 3819,
 2351,
 3351,
 4124,
 2088,
 829,
 1409,
 2434,
 3549,
 3251,
 3979,
 1143,
 1396,
 4180,
 482,
 1921,
 4454,
 1589,
 471,
 326,
 4120,
 886,
 1976,
 1636,
 4121,
 1989,
 3040,
 932,
 3118,
 3892,
 1277,
 1718,
 3311,
 1992,
 4090,
 1157,
 2014,
 2158,
 3149,
 2544,
 4296,
 1452,
 2225,
 2720,
 1025,
 443,
 1362,
 3945,
 1853,
 154,
 2931,
 3187,
 2731,
 1269,
 188,
 3308,
 359,
 1451,
 2895,
 3541,
 3623,
 4363,
 898,
 4256,
 4250,
 4312,
 1644,
 1715,
 3704,
 29,
 4166,
 2009,
 1890,
 2830,
 2447,
 3074,
 4114,
 1177,
 2652,
 1361,
 4419,
 4135,
 2812,
 2145,
 2338,
 1313,
 4008,
 389,
 4136,
 3539,
 1212,
 1276,
 1231,
 666,
 1145,
 1397,
 2548,
 3907,
 1810,
 3270,
 2388,
 3046,
 4168,
 4261,
 3054,
 1126,
 1600,
 2077,
 376,
 1384,
 1725,
 3460,
 3694,
 1943,
 1523,
 1199,
 3995,
 3447,
 676,
 1617,
 2572,
 1150,
 3115,
 2007,
 2400,
 3802,
 2041,
 2687,
 1676,
 1842,
 1221,
 149,
 98,
 2883,
 3071,
 139,
 938,
 548,
 1969,
 3727,
 484,
 2559,
 163,
 4169,
 3796,
 2599,
 1224,
 2522,
 4451,
 4351,
 2495,
 1298,
 2340,
 3977,
 3826,
 1865,
 92,
 452,
 3538,
 3702,
 890,
 518,
 888,
 1732,
 1729,
 1925,
 1918,
 3566,
 854,
 86,
 678,
 3472,
 2672,
 1059,
 4026,
 3279,
 2828,
 2399,
 3399,
 639,
 3595,
 1638,
 917,
 1824,
 1348,
 2649,
 918,
 1123,
 199,
 2329,
 221,
 1216,
 2381,
 3698,
 4178,
 3041,
 3490,
 840,
 1283,
 2560,
 1574,
 4006,
 2146,
 3551,
 2236,
 2549,
 2568,
 989,
 150,
 3224,
 1087,
 561,
 681,
 803,
 1209,
 2986,
 624,
 1359,
 958,
 1075,
 4438,
 1971,
 1069,
 1084,
 2505,
 3406,
 1892,
 1826,
 4222,
 1660,
 2135,
 251,
 1092,
 2899,
 1510,
 2448,
 2025,
 147,
 4483,
 145,
 2372,
 1335,
 1413,
 1868,
 1104,
 409,
 3131,
 574,
 3160,
 1587,
 3958,
 3349,
 3073,
 108,
 219,
 1149,
 317,
 3608,
 3856,
 1447,
 2556,
 1272,
 2540,
 3067,
 2933,
 1664,
 1886,
 1448,
 4181,
 1517,
 3813,
 2257,
 2684,
 746,
 1520,
 1575,
 3431,
 3905,
 1312,
 3367,
 1659,
 2019,
 4012,
 1317,
 195,
 2362,
 837,
 1641,
 170,
 1481,
 117,
 2989,
 4373,
 4028,
 520,
 2799,
 1030,
 3749,
 1591,
 615,
 1280,
 2538,
 66,
 883,
 1072,
 689,
 158,
 336,
 984,
 4429,
 3855,
 2456,
 694,
 2625,
 3332,
 3474,
 3933,
 1235,
 2578,
 1606,
 853,
 3636,
 4056,
 857,
 3409,
 2407,
 3269,
 3696,
 2139,
 3258,
 65,
 3348,
 110,
 2418,
 1688,
 590,
 465,
 1085,
 2498,
 1006,
 2122,
 1527,
 2424,
 4449,
 496,
 1057,
 ...]

In [52]:
sorted_rating_pred = rating_pred[sorted_index]
sorted_rating_pred

array([[4.38236   ],
       [4.3776727 ],
       [4.3351316 ],
       ...,
       [0.6519845 ],
       [0.58049864],
       [0.45408317]], dtype=float32)

In [53]:
sorted_movies_for_user = movies_unique_data.loc[sorted_index,:]
temp = sorted_movies_for_user.reset_index(drop=True
temp.head(10)

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
0,7373,Hellboy,2004,0.670,0.670,0.0,0.0,0.0,0.0,0.0,0.0,0.670,0.670,0.0,0.0,0.0,0.000,0.000
1,7454,Van Helsing,2004,0.544,0.544,0.0,0.0,0.0,0.0,0.0,0.0,0.544,0.544,0.0,0.0,0.0,0.000,0.000
2,2366,King Kong,1933,0.716,0.716,0.0,0.0,0.0,0.0,0.0,0.0,0.716,0.716,0.0,0.0,0.0,0.000,0.000
3,70946,Troll 2,1990,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.646,0.646,0.0,0.0,0.0,0.000,0.000
4,91974,Underworld: Awakening,2012,0.702,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.702,0.702,0.0,0.0,0.0,0.000,0.000
5,6754,Underworld,2003,0.692,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.692,0.692,0.0,0.0,0.0,0.000,0.000
6,3930,"Creature from the Black Lagoon, The",1954,0.000,0.478,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.478,0.0,0.0,0.0,0.478,0.000
7,31696,Constantine,2005,0.686,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.686,0.686,0.0,0.0,0.0,0.000,0.686
8,65682,Underworld: Rise of the Lycans,2009,0.692,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.692,0.692,0.0,0.0,0.0,0.000,0.692
9,606,Candyman: Farewell to the Flesh,1995,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.592,0.592,0.0,0.0,0.0,0.000,0.000

In [19]:
model.evaluate([users_test, movies_test], ratings_test)

546/546 [==============================] - 2s 3ms/step - loss: 0.0315

0.03147200867533684

In [20]:
input_movie= Input(shape=(num_movies_features))
vm = movie_neural_network(input_movie)
vm = tf.linalg.l2_normalize(vm, axis=1)

model_m = Model(input_movie, vm)
model_m.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 15)]              0

 sequential_1 (Sequential)   (None, 32)                41120

 tf.math.l2_normalize_2 (TF  (None, 32)                0
 OpLambda)

=================================================================
Total params: 41120 (160.62 KB)
Trainable params: 41120 (160.62 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
def sq_dist(a,b):
    return ((a-b)**2).sum()

In [22]:
vms = model_m.predict(scaler_movies.transform(movies_vecs))
print(vms.shape)

movies_vecs

141/141 [==============================] - 0s 3ms/step
(4484, 32)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
0,0.000,0.782,0.782,0.782,0.782,0.000,0.0,0.00,0.782,0.000,0.000,0.000,0.000,0.00,0.000
1,0.000,0.000,0.000,0.000,0.648,0.000,0.0,0.00,0.000,0.000,0.000,0.000,0.648,0.00,0.000
2,0.786,0.000,0.000,0.000,0.000,0.786,0.0,0.00,0.000,0.000,0.000,0.000,0.000,0.00,0.786
3,0.000,0.000,0.000,0.000,0.000,0.846,0.0,0.00,0.000,0.000,0.000,0.846,0.000,0.00,0.846
4,0.698,0.000,0.000,0.000,0.698,0.000,0.0,0.00,0.000,0.698,0.000,0.000,0.000,0.00,0.698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4479,0.000,0.000,0.000,0.000,0.684,0.684,0.0,0.00,0.000,0.000,0.684,0.684,0.000,0.00,0.000
4480,0.000,0.610,0.000,0.000,0.000,0.000,0.0,0.61,0.610,0.000,0.000,0.000,0.000,0.00,0.000
4481,0.514,0.000,0.000,0.000,0.000,0.514,0.0,0.00,0.000,0.000,0.000,0.000,0.000,0.00,0.000
4482,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.000,0.000,0.610,0.61,0.610
4483,0.000,0.000,0.000,0.000,0.000,0.590,0.0,0.00,0.000,0.590,0.000,0.590,0.000,0.00,0.000

In [23]:
number_of_movies = vms.shape[0]

distance = np.zeros((number_of_movies, number_of_movies))

for i in range(number_of_movies):
    for j in range(i):
            distance[i,j]=sq_dist(vms[i], vms[j])
            distance[j,i]=distance[i,j]
    distance[i,i]=np.inf

In [24]:
movies_unique_data.head(10)

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
0,1,Toy Story,1995,0.000,0.782,0.782,0.782,0.782,0.000,0.0,0.000,0.782,0.000,0.0,0.000,0.000,0.0,0.000
1,3,Grumpier Old Men,1995,0.000,0.000,0.000,0.000,0.648,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.648,0.0,0.000
2,6,Heat,1995,0.786,0.000,0.000,0.000,0.000,0.786,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.786
3,50,"Usual Suspects, The",1995,0.000,0.000,0.000,0.000,0.000,0.846,0.0,0.000,0.000,0.000,0.0,0.846,0.000,0.0,0.846
4,70,From Dusk Till Dawn,1996,0.698,0.000,0.000,0.000,0.698,0.000,0.0,0.000,0.000,0.698,0.0,0.000,0.000,0.0,0.698
5,101,Bottle Rocket,1996,0.000,0.740,0.000,0.000,0.740,0.740,0.0,0.000,0.000,0.000,0.0,0.000,0.740,0.0,0.000
6,110,Braveheart,1995,0.804,0.000,0.000,0.000,0.000,0.000,0.0,0.804,0.000,0.000,0.0,0.000,0.000,0.0,0.000
7,151,Rob Roy,1995,0.704,0.000,0.000,0.000,0.000,0.000,0.0,0.704,0.000,0.000,0.0,0.000,0.704,0.0,0.000
8,157,Canadian Bacon,1995,0.000,0.000,0.000,0.000,0.572,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.000
9,163,Desperado,1995,0.708,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.708,0.0,0.000

In [31]:
list_of_movies_and_closest = []

for i in range(number_of_movies):
    curr_movie_index = i
    closest_eight_movies_indices = np.argsort(distance[i,:])[:8]
    
    current_movie = movies_unique_data.loc[i,'title']
    closest_eight_movies = movies_unique_data.loc[closest_eight_movies_indices,'title'].tolist()
    
    list_of_movies_and_closest.append([current_movie]+closest_eight_movies)
    
closest_movies_dataframe = pd.DataFrame(list_of_movies_and_closest, columns=['Movie', 'Rec. Movie1', 'Rec. Movie2', 'Rec. Movie3', 'Rec. Movie4', 'Rec. Movie5','Rec. Movie6', 'Rec. Movie7', 'Rec. Movie8'])
# closest_movies_dataframe.iloc[1050:1100]
closest_movies_dataframe[closest_movies_dataframe['Movie']=='Superman']

,Movie,Rec. Movie1,Rec. Movie2,Rec. Movie3,Rec. Movie4,Rec. Movie5,Rec. Movie6,Rec. Movie7,Rec. Movie8
161,Superman,Avatar,Black Panther,The Hunger Games: Catching Fire,Doctor Strange,Star Trek Into Darkness,Pacific Rim,Ant-Man,Captain America: The Winter Soldier

In [26]:
movies_unique_data[movies_unique_data['Animation']!=0].iloc[60:90]

,movieId,title,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller
832,95543,Ice Age 4: Continental Drift,2012,0.000,0.582,0.582,0.000,0.582,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
836,103335,Despicable Me 2,2013,0.000,0.000,0.702,0.702,0.702,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
840,106696,Frozen,2013,0.000,0.714,0.714,0.000,0.714,0.000,0.0,0.000,0.714,0.0,0.714,0.0,0.714,0.000,0.0
843,112006,Tangled Ever After,2012,0.684,0.000,0.684,0.684,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
868,1405,Beavis and Butt-Head Do America,1996,0.000,0.588,0.588,0.000,0.588,0.588,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
907,2081,"Little Mermaid, The",1989,0.000,0.000,0.682,0.682,0.682,0.000,0.0,0.000,0.000,0.0,0.682,0.0,0.682,0.000,0.0
923,50872,Ratatouille,2007,0.000,0.000,0.768,0.768,0.000,0.000,0.0,0.768,0.000,0.0,0.000,0.0,0.000,0.000,0.0
926,60069,WALL·E,2008,0.000,0.808,0.808,0.808,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.808,0.808,0.0
927,63859,Bolt,2008,0.666,0.666,0.666,0.666,0.666,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
932,71057,9,2009,0.000,0.706,0.706,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.706,0.0
933,71264,Cloudy with a Chance of Meatballs,2009,0.000,0.000,0.690,0.690,0.000,0.000,0.0,0.000,0.690,0.0,0.000,0.0,0.000,0.000,0.0
956,134853,Inside Out,2015,0.000,0.752,0.752,0.752,0.752,0.000,0.0,0.752,0.752,0.0,0.000,0.0,0.000,0.000,0.0
959,152081,Zootopia,2016,0.764,0.764,0.764,0.764,0.764,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
960,158872,Sausage Party,2016,0.000,0.000,0.692,0.000,0.692,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
967,745,Wallace & Gromit: A Close Shave,1995,0.000,0.000,0.770,0.770,0.770,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
970,1148,Wallace & Gromit: The Wrong Trousers,1993,0.000,0.000,0.800,0.800,0.800,0.800,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
974,1223,"Grand Day Out with Wallace and Gromit, A",1989,0.000,0.800,0.800,0.800,0.800,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.800,0.0
989,3429,Creature Comforts,1989,0.000,0.000,0.806,0.000,0.806,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
996,78499,Toy Story 3,2010,0.000,0.812,0.812,0.812,0.812,0.000,0.0,0.000,0.812,0.0,0.000,0.0,0.000,0.000,0.0
1043,3751,Chicken Run,2000,0.000,0.000,0.706,0.706,0.706,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1078,8917,Team America: World Police,2004,0.686,0.686,0.686,0.000,0.686,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1086,33615,Madagascar,2005,0.000,0.670,0.670,0.670,0.670,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1092,37729,Corpse Bride,2005,0.000,0.000,0.700,0.000,0.700,0.000,0.0,0.000,0.700,0.0,0.700,0.0,0.700,0.000,0.0
1094,38038,Wallace & Gromit in The Curse of the Were-Rabbit,2005,0.000,0.716,0.716,0.716,0.716,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1096,44022,Ice Age 2: The Meltdown,2006,0.000,0.638,0.638,0.638,0.638,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1113,54272,"Simpsons Movie, The",2007,0.000,0.000,0.718,0.000,0.718,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1124,59784,Kung Fu Panda,2008,0.684,0.000,0.684,0.684,0.684,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1139,71899,Mary and Max,2009,0.000,0.000,0.792,0.000,0.792,0.000,0.0,0.792,0.000,0.0,0.000,0.0,0.000,0.000,0.0
1169,98124,"Batman: The Dark Knight Returns, Part 1",2012,0.734,0.000,0.734,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.734,0.0
1173,99813,"Batman: The Dark Knight Returns, Part 2",2013,0.732,0.000,0.732,0.000,0.000,0.000,0.0,0.000,0.000,0.0,0.000,0.0,0.000,0.000,0.0

In [34]:
files_to_save = {
    'Models/user_based.pcl': model,
    'Models/movie_based.pcl': model_m,
    'Models/distances.pcl': distance,
    'Models/movie_unique_data.pcl': movies_unique_data,
    'Models/movies_vecs.pcl': movies_vecs,
    'Models/scaler_users.pcl': scaler_users,
    'Models/scaler_movies.pcl': scaler_movies,
    'Models/scaler_ratings.pcl': scaler_ratings
}

for file_path, data in files_to_save.items():
    try:
        with open(file_path, 'wb') as f:
            pickle.dump(data, f)
    except Exception as e:
        print(f"Error saving {file_path}: {e}")
    finally:
        f.close()